<div class="text-center" id="body">
<div class="text-center">
  <a routerLink="login" *ngIf="userService.checkLogin==='true'">Login | </a>
  <div *ngIf="userService.checkLogin==='false'" style="background: blue">
    <img id="image" [src]="userService.userOnline.image" alt="">
  <u> {{userService.userOnline.name}}</u> |
    <button type="button" (click)="logout()" >Logout</button>
  </div>
  <a routerLink="register" *ngIf="userService.checkLogin==='true'">Register</a>
</div>
<div class="text-center">
  <div>
    <router-outlet></router-outlet>
  </div>
  <img *ngIf="userService.checkLogin==='true'" src="https://s.dowload.vn/data/image/2016/04/12/Teamwork-Chat-giao-dien.jpg" alt="">
</div>
</div>
<div>
  <div *ngIf="userService.checkLogin==='false'">
    <app-user class="a" id="user"></app-user>
    <app-message class="a" id="app-message"></app-message>
  </div>
</div>
